* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav input {
  padding: 4px;
  font-size: 1.25rem;
}

nav p {
  font-size: 1.5rem;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading button {
  width: 10%;
  padding: 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(65, 64, 64);
  border-radius: 0.5rem;
}

.card .card-image {
  width: 100%;
  height: 70%;
}

.card img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.card .card-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
  text-align: center;
  justify-content: center;
}

@media (max-width: 756px) {
  #movie-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .card {
    height: 320px;
  }
}
